
@{
    ViewBag.Title = "IndexLogin";
    Layout = "~/Views/Shared/HomepageLayout.cshtml";
}

<div class="main-container">
    <div class="intro-container">
        <div class="col-1">
            <p id="text-1">Upskill yourself<br>Anytime and Anywhere only from<br>The Best!</p>
            <p id="text-2">One stop solution for upskilling yourself to live your passion! Educate your students and train your employess with the top courses from professionals all over the globe on our podium. Join our community to never stop learning!</p>
        </div>
        <div class="col-2">
            <img src="~/Images/Homepage-div-1.jpg">
        </div>
        <div class="col-3">
            <div class="row">
                <p>
                    <span class="inner-heading">Self Paced Learning</span><br>
                    Take your time to learn what you love
                </p>
            </div>
            <div class="row">
                <p>
                    <span class="inner-heading">Diverse Courses</span><br>
                    Choose from numerous variety of courses
                </p>
            </div>
            <div class="row">
                <p>
                    <span class="inner-heading">Experienced Mentors</span><br>
                    Learn only from the best Professionals
                </p>
            </div>
            <div class="row">
                <p>
                    <span class="inner-heading">Get Certified</span><br>
                    Show your skills off with verified Certificates
                </p>
            </div>
        </div>
    </div>
    <div class="category-heading">“ Choose from your favorite courses from Top Categories ”</div>
    <div class="main-categories-container">
        <div class="categories-container">
            <div class="category-row">
                <div class="single-category">
                    <div class="category-box">
                        <div class="category-image">
                            <img id="business-image" src="~/Images/Business-hompage-image.jpg">
                        </div>
                        <div class="category-title">
                            <p class="category-title-text">Business</p>
                        </div>
                    </div>
                </div>
                <div class="single-category">
                    <div class="category-box">
                        <div class="category-image">
                            <img id="design-image" src="~/Images/Design-homepage-image.jpg">
                        </div>
                        <div class="category-title">
                            <p class="category-title-text">Design</p>
                        </div>
                    </div>
                </div>
                <div class="single-category">
                    <div class="category-box">
                        <div class="category-image">
                            <img id="finance-image" src="~/Images/Finance-homepage-image.jpeg">
                        </div>
                        <div class="category-title">
                            <p class="category-title-text">Finance</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category-row">
                <div class="single-category">
                    <div class="category-box">
                        <div class="category-image">
                            <img id="programming-image" src="~/Images/programming-homepage-image.jpg">
                        </div>
                        <div class="category-title">
                            <p class="category-title-text">Programming</p>
                        </div>
                    </div>
                </div>
                <div class="single-category">
                    <div class="category-box">
                        <div class="category-image">
                            <img id="photography-image" src="~/Images/erik-mclean-2Wv9VnwzeeI-unsplash.jpg">
                        </div>
                        <div class="category-title">
                            <p class="category-title-text">Photography</p>
                        </div>
                    </div>
                </div>
                <div class="single-category">
                    <div class="category-box">
                        <div class="category-image">
                            <img id="music-image" src="~/Images/music-homepage-image.jpg">
                        </div>
                        <div class="category-title">
                            <p class="category-title-text">Music</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End of categories-container-->
    </div>

    <div class="mentor-container">
        <div class="mentor-sub-container">

        </div>
        <div class="mentor-sub-container-image">
            <img id="join-as-mentor-image" src="~/Images/join-as-mentor-image.jpg">
        </div>
        <div class="mentor-sub-container-info">
            <p>Be a part of our Mentors' Community<br>and help reach thousands of students!</p>
            <button class="search-button">Join as a Mentor</button>
        </div>

    </div>

    <div class="feedback-container">

    </div>

    <div class="partner-institutions">
        <p class="category-heading">“ Trusted by Awesome Partners ”</p>
        <hr>
        <div class="partner-1">
            <img class="srm-logo" src="~/Images/srm-logo.jpg">
        </div>
        <div class="partner-2">
            <img class="cognizant-logo" src="~/Images/cognizant.png">
        </div>
        <div class="partner-3">
            <img class="kiet-logo" src="~/Images/kiet-logo.jpeg">
        </div>
    </div>
    <hr>
</div>

